/* Reset all margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --text-color: "#333";
    --border-color: black;
    --hover-text-color: whitesmoke;
    --background-color: white;
    --name-dot: orangered;
    --border-bottom: grey;
}
[data-theme="dark"] {
    /* Dark Theme Variables */
    --text-color: whitesmoke;
    --border-color: lightgray;
    --hover-text-color: black;
    --background-color: #121212;
    /* Typical dark background */
    --name-dot: rgb(10, 7, 0);
    --border-bottom: rgb(197, 180, 24);
}