.form-container {
  padding: 20px;
  max-width: 600px; 
  margin: auto;
  /* background-color: #f8f9fa; */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;

  border: 1px solid var(--border-color);
}

 
  .input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  

  .input-field {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%
  }
  
  
  .message-box {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    height: 120px;
    margin-bottom: 15px;
  }
  

  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .submit-button:hover {
    background-color: #0455ac;
  }
  